:root {
    --primary-color: #A9927D;
    --secondary-color: #5E503F;
    --accent1-color: #F2F4F3;
    --accent2-color: #1B9AAA;
    --accent3-color: #003049;
    --heading-font: "Poetsen One", sans-serif;
    --body-font: "Roboto Slab", sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent1-color);

    margin: 1rem auto;
    display: grid;
    grid-template-columns: 260px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

header img {
    width: 200px;
    height: auto;
    display: grid;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navigation li {
    flex: 1 1 auto;

}

.navigation a {
    display: flex;
    flex-wrap: nowrap;
    color: var(--accent1-color);
    padding: 30px;
    text-decoration: none;
    font-size: 1.3rem;
}

.navigation a:hover {
    color: var(--accent2-color);
    font-weight: 500;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent1-color);
    margin: 20px;
    padding: 30px 20px;
    border: 2px solid var(--accent2-color);
    color: #1B9AAA
}

article h2 {
    position: relative;

    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    color: #1B9AAA;
}

.history {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent1-color);
    margin: 20px;
    padding: 30px 20px;
    border: 3px solid var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

.history h2 {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--primary-color);

}





.history img {
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-content: space-between;

}


.additional-info img {
    max-width: 200px;
    display: grid;
    justify-content: center;
    align-content: space-between;

}

.grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
}

.image {
    max-width: 100%;
    height: auto;
}

.text-content {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 50px;
    align-items: center;

}







.adventure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.adventure img {
    background-color: var(--accent1-color);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.maps img {
    background-color: var(--accent1-color);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adventure h2 {
    margin-bottom: 20px;
}


figure figcaption {
    flex-direction: column;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.social-media a {
    text-decoration: none;
}

.hero {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 1;
    background-color: var(--secondary-color);
    color: var(--accent1-color)
}

h2 {
    color: #1B9AAA;

}

.hero article img {
    float: right;
    width: 100%;
    height: auto;
    display: block;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    text-align: center;
    padding: 20px;
    font-size: 0.9em;

}

.hero {
    position: relative;
    text-align: center;
}


.hero h1 {
    position: absolute;
    color: var(--accent1-color);
    font-size: 2.5em;

}

.purpose-block {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 700px;
    background-color: var(--accent1-color);
    padding: 20px;
    border-radius: 10px;

}

.purpose-block h2 {
    margin-top: 0;
    color: var(--accent2-color);
    font-weight: bold;
    font-size: 1.5em;
}

.details-block p {
    color: var(--accent2-color);
    margin: 0;
}

.details-block {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 700px;
    background-color: var(--accent1-color);
    padding: 30px;
    border-radius: 10px;

}

.details-block h2 {
    margin-top: 0;
    color: var(--accent2-color);
    font-weight: bold;
    font-size: 1.5em;
}

.details-block p {
    color: var(--accent2-color);
    margin: 0;
}

form {
    width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: var(--accent1-color);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: var(--accent2-color);
    font-size: 1.3em;
}

button {
    margin: 1rem;
    background-color: var(--accent2-color);
    color: #eee;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    font-family: var(--heading-font);

}

button:hover {
    background-color: var(--accent3-color);
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;

}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

th,
td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
}

thead tr:first-child th {
    background-color: #e0e0e0;
}

thead tr:nth-child(2) th {
    background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
    background-color: #fafafa;
}